body {
    display: flex;
    background-image: url(../public/d8523307913e63cc59297eac55791a14.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 95%;
    height: 93%;
    min-height: 95vh;
}


#conteiner {
    position: fixed;
    right: 0;
    top: 0;
    
    background-color: #b3b3b3ea;
    height: 705px;
    width: 540px;
    align-items: center;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.62)/*rgba(93, 42, 188, 0.3)*/;
    border-radius: 5px;
    border: 0.5px solid black;
    
}

div#artigo {
    margin-top: 140px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    
}

input {
    width: 300px;
    height: 40px;
    margin-top: 25px;
    flex: auto;
    box-shadow: 5px 1px 5px rgb(0, 0, 0);
    background-color: rgba(211, 211, 211, 0.913);
    color: black;
}

#login {
    margin-left: 20px;
    width: 270px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

input#buttonOfContinue {
    display: block;
    margin-left: 105px;
    width: 100px;

}

input#buttonOfContinue:hover {
    background-color: rgb(169, 167, 167);
    transition: background-color 1.2s;
}

input:hover {
    background-color: rgb(169, 167, 167);
    transition: background-color 1.2s;
}
